<!--HEADER-->
<header class="topbar">
  <div class="headerContainer">
    <div class="sidebar col-md-4" (click)="openSidebar()">
      <i class="fa fa-bars"></i>
    </div>

    <h1 class="title col-md-4" routerLink="">{{ 'GAMEVERSE_TITLE' | i18next }}</h1>

    <div class="col-md-4 rightDiv">

      <div class="langDropdown" (click)="toggleLogin()">
        <span class="languageIcon">
          <i class="fas fa-flag"></i>
        </span>  
        <div class="langContent" *ngIf="showLogin" (click)="stopPropagation($event)">
          <button class="flag" *ngFor="let lang of languages" (click)="changeLanguage(lang)" [ngClass]="{ 'selected': lang === language }">
            <img src="./assets/images/flags/{{ lang }}.png" alt="{{lang}}">
            <span class="abbreviation">{{ lang | uppercase }}</span>
          </button>
        </div>
      </div>
    
      <div>
        <span class="searchIcon" (click)="toggleSearch()">
          <i class="fas fa-search"></i>
        </span>
        <input class="searchInput" [ngClass]="{ 'searchInputExpanded': searchExpanded }" type="text"
          placeholder="Buscar..." />
      </div>

      <div>       
        <app-login></app-login>
      </div>

    </div>
  </div>

  <div class="buttonsContainer">
    <div class="buttons">
      <button routerLink="">{{ 'HOME.BUTTON' | i18next }}</button>
      <button routerLink="/games">{{ 'GAMES.BUTTON' | i18next }}</button>
      <button routerLink="/news">{{ 'NEWS.BUTTON' | i18next }}</button>
      <button *ngIf="isAdmin()" routerLink="/videos">{{ 'VIDEOS.BUTTON' | i18next }}</button>
      <button routerLink="/reviews">{{ 'REVIEWS.BUTTON' | i18next }}</button>
      <button routerLink="/the-latest">{{ 'THE_LATEST.BUTTON' | i18next }}</button>
    </div>
  </div>
</header>


