<header class="topbar">
  <div class="headerContainer">
    <div class="sidebar col-md-4" (click)="openSidebar()">
      <i class="fa fa-bars"></i>
    </div>

    <h1 class="title col-md-4" routerLink="">{{ 'gameVerseTitle' | i18next }}</h1>

    <div class="col-md-4 rightDiv">
      <div class="searchContainer">
        <span class="searchIcon" (click)="toggleSearch()">
          <i class="fas fa-search"></i>
        </span>
        <input class="searchInput" [ngClass]="{ 'searchInputExpanded': searchExpanded }" type="text"
          placeholder="Buscar..." />
      </div>

      <div class="login">
        <span><i class="fa fa-user"></i></span>
      </div>
    </div>
  </div>

  <div class="buttonsContainer">
    <div class="buttons">
      <button routerLink="">{{ 'home' | i18next }}</button>
      <button routerLink="/games">{{ 'games' | i18next }}</button>
      <button routerLink="/news">{{ 'news' | i18next }}</button>
      <button routerLink="/videos">{{ 'videos' | i18next }}</button>
      <button routerLink="/reviews">{{ 'reviews' | i18next }}</button>
      <button routerLink="/the-latest">{{ 'theLatest' | i18next }}</button>
    </div>
  </div>
  <button>Español</button>
<button>English</button>

</header>


