<div class="gameDetailContainer">
  <div class="videoContainer" *ngIf="game?.video">
    <iframe [src]="game?.video + '?autoplay=1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen allow="autoplay"></iframe>
  </div>
  <div class="detailsContainer">
    <h1>{{ game?.title }}</h1>
    <p>{{ game?.text[currentLanguage] }}</p>
    <p class="qualificationContainer" [class]="getRatingClass(game?.qualification)">Nota: {{ game?.qualification }}</p>
    <p>Lanzamiento: {{ game?.release }}</p>
    <p>Consolas:</p> 
      <div *ngFor="let console of game?.consoles" class="d-flex">
        <p> {{ console }}</p>
        <i  class="fa-brands fa-{{console.toString() | lowercase}}"></i>
        <i *ngIf="console == 'PC'" class="fa-solid fa-desktop"></i>
      </div>
    <button class="shopButton">Comprar Ahora</button>
  </div>
</div>