<div class="headerDiv">
    <div class="leftColumn">
        <img src="/assets/images/consoles/XBOX.png" width="200px">
        <h2>Game Tournaments</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio in, quaerat minima libero dolorem recusandae a tenetur neque esse id tempore? Eum, deleniti vitae labore repellat sunt voluptatem nam. Eius.</p>
    </div>

    <div class="centerColumn">
        <h1>GAME</h1>
        <h1>VERSE</h1>
    </div>

    <div class="rightColumn">
        <h1>The Best Subscribers Videos</h1>
        <div class="d-flex">
            <img src="/assets/images/consoles/XBOX.png" width="75px">
            <p> Prueba Video 1</p>
        </div>
        <div class="d-flex mt5">
            <img src="/assets/images/consoles/XBOX.png" width="75px">
            <p> Prueba Video 2</p>
        </div>
    </div>
</div>

<div class="videoButton">
    <h1 class="playButton"><i class="fa-solid fa-play" width="20px"></i></h1>
</div>

<div class="principalCharacter">
    <div class="boxCharacter">
        <h1>GOD OF</h1>
        <h1>WAR</h1>
    </div>
    <img src="/assets/images/kratos.png" class="characterImage">
</div>


<div class="carousel-container">
    <div class="blueBox">
        <h1>Top Videos</h1>
    </div>
    <div class="video-wrapper">
      <ng-container *ngFor="let video of displayedVideos; let i = index">
        <div class="video"  [ngClass]="{'center': i === 1, 'side': i !== 1}">
          <iframe [src]="video.url + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
          <div *ngIf="i !== 1" class="overlay"></div>
        </div>
      </ng-container>
    </div>  
    <div class="carousel-dots">
        <span *ngFor="let video of videos; let i = index" (click)="selectVideo(i)" [ngClass]="{'active': i === currentIndex}"></span>
    </div>
  </div>

<div class="videosDiv">
    <div class="video-container">
        <div class="blueBox">
        </div>
        <div class="principalVideo">
            <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="subVideos">
            <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
            <p>Prueba de texto para Video 1</p>
            <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
            <p>Prueba de texto para Video 1</p>
        </div>
    </div>
    <div class="secondaryVideo">
        <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
        <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
        <iframe [src]="'https://www.youtube.com/embed/5kcdRBHM7kM' + '?1&mute=1' | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
