<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <p class="textColor">
            © 2024 GameVerse. Todos los derechos reservados.
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="links">
          <ul>
            <li>
              <a class="textColor" routerLink="">{{ home }}</a>
            </li>
            <li>
              <a class="textColor" routerLink="">{{ consoles }}</a>
            </li>
            <li>
              <a class="textColor" routerLink="">{{ top100 }}</a>
            </li>
            <li>
              <a class="textColor" routerLink="">{{ contact }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="socialMedia">
          <ul>
            <li>
              <a class="textColor" href="https://es-es.facebook.com/" target="_blank"><i
                  class="fab fa-facebook fa-lg"></i> {{ facebook }}</a>
            </li>
            <li>
              <a class="textColor" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i> {{
                twitter }}</a>
            </li>
            <li>
              <a class="textColor" href="https://www.instagram.com/" target="_blank"><i
                  class="fab fa-instagram fa-lg"></i> {{ instagram }}</a>
            </li>
            <li>
              <a class="textColor" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-lg"></i>
                {{ youtube }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="scroll-to-top">
          <a href="#" class="btn btn-lg">
            <span><i class="fa fa-arrow-up"></i></span> Ir arriba
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>