<footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="logo">
            <p class="textColor">© 2024 GameVerse. Todos los derechos reservados.</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="links">
            <ul>
              <li><a class="textColor" href="#">Home</a></li>
              <li><a class="textColor" href="#">News</a></li>
              <li><a class="textColor" href="#">Top100</a></li>
              <li><a class="textColor" href="#">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="socialMedia">
            <ul>
              <li><a class="textColor" href="#"><i class="fa fa-facebook fa-lg"></i>  Facebook</a></li>
              <li><a class="textColor" href="#"><i class="fa fa-twitter fa-lg"></i>  Twitter</a></li>
              <li><a class="textColor" href="#"><i class="fa fa-instagram fa-lg"></i>  Instagram</a></li>
              <li><a class="textColor" href="#"><i class="fa fa-youtube fa-lg"></i>  YouTube</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="scroll-to-top">
            <a href="#" class="btn btn-lg">
              <span><i class="fa fa-arrow-up"></i></span> Ir arriba
            </a>
          </div>
        </div>

      </div>
    </div>
  </footer>
  