<!--CHARTS-->
<div style="width: 1000px;  margin-top: 20px;">
  <canvas id="lineChart"></canvas>
</div>
<div style="width: 1000px;  margin-top: 25px;">
  <canvas id="barChart"></canvas>
</div>
<div style="width: 500px;">
  <canvas id="pieChart"></canvas>
</div>

<!--TABLE with FILTERS-->
<div class="tableContainer">
  <div class="filtersContainer">
    <i class="fa fa-search search-icon"></i>
    <input type="text" placeholder="Buscar..." (input)="searchFilter($event)" />

    <label for="startDate">Fecha de inicio:</label>
    <input type="date" id="startDate" (input)="dateFilter()">
    <label for="endDate">Fecha de fin:</label>
    <input type="date" id="endDate" (input)="dateFilter()">

    <label for="minPrice">Precio mínimo:</label>
    <input type="number" id="minPrice" placeholder="Mín" (input)="priceFilter()">
    <label for="maxPrice">Precio máximo:</label>
    <input type="number" id="maxPrice" placeholder="Máx" (input)="priceFilter()">
  </div>

  <table id="gamesTable">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of filteredGames | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ game.id }}</td>
        <td>{{ game.title }}</td>
        <td>{{ game.price }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.genre }}</td>
        <td>{{ game.pegi }}</td>
        <td>{{ game.releaseDate }}</td>
      </tr>
    </tbody>
  </table>

  <div class="paginationControls">
    <pagination-controls (pageChange)="pageChanged($event)" [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'"
      [maxSize]="0">
    </pagination-controls>
  </div>

  <button class="excel" (click)="exportToExcel()">Exportar a Excel</button>
</div>

<!--REVIEWS-->
<div class="container mt-5">
  <div *ngIf="reviews.length > 0">
    <h2 class="title">Reseñas:</h2>
    <div class="list-group">
      <div *ngFor="let review of reviews" class="list-group-item">
        <h5 class="mb-1">{{ review.gameTitle }}</h5>
        <p class="mb-1">Por: {{ review.userName }}</p>
        <p class="mb-1">{{ review.userReview }}</p>
      </div>
    </div>
  </div>

  <hr>

  <form [formGroup]="reviewForm">
    <div class="mb-3">
      <label for="userName" class="form-label">Usuario:</label>
      <input type="text" id="userName" formControlName="userName" class="form-control">
      <div *ngIf="reviewForm.get('userName')?.invalid && reviewForm.get('userName')?.touched" class="errorMessage">
        Tu usaurio es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="gameTitle" class="form-label">Título del juego:</label>
      <input type="text" id="gameTitle" formControlName="gameTitle" class="form-control">
      <div *ngIf="reviewForm.get('gameTitle')?.invalid && reviewForm.get('gameTitle')?.touched" class="errorMessage">
        El título del juego es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="userReview" class="form-label">Reseña:</label>
      <textarea id="userReview" formControlName="userReview" class="form-control"></textarea>
      <div *ngIf="reviewForm.get('userReview')?.invalid && reviewForm.get('userReview')?.touched" class="errorMessage">
        Tu reseña es requerida.
      </div>
    </div>
    <button type="submit" [disabled]="reviewForm.invalid" class="btn btn-primary">Enviar</button>
  </form>
</div>
