<div class="background-image">
  <img src="../../../../assets/Fondo home GameVerse.jpeg" alt="Imagen-fondo">
</div>

<div class="news-section">
  <button class="prev-news-button" (click)="prevNews()"><i class="fas fa-chevron-left"></i></button>
  <div class="news-container">
    <div class="news-item">
      <h3>{{ newsItems[currentNewsIndex].title }}</h3>
      <p>{{loremIpsumText }}</p>
    </div>
  </div>
  <button class="next-news-button" (click)="nextNews()"><i class="fas fa-chevron-right"></i></button>
</div>

<div class="topGames-section">
  <div class="topGames-title-container">
    <h2 class="topGames-title">Top-100 Juegos mejor valorados</h2>
  </div>
  <button class="prev-arrow" (click)="prevGame()"><i class="fa-solid fa-arrow-left"></i></button>
  <div class="topGames-carousel">
    <div class="topGames-carousel-item" *ngFor="let game of topVideoGames">
      <h3>{{ game }}</h3>
    </div>
  </div>
  <button class="next-arrow" (click)="nextGame()"><i class="fa-solid fa-arrow-right"></i></button>
</div>

<div class="boxContainer">
  <div class="box">
    <a routerLink="">
      <h2>DESTACADOS</h2>
      <div class="content">
        <img src="../../../../assets/Juegos destacados.jpg" alt="Imagen videojuegos populaes" class="circle-image" />
        <p>Videojuegos más recientes y populares...</p>
      </div>
    </a>
  </div>

  <div class="box">
    <a routerLink="">
      <h2>PROXIMOS LANZAMIENTOS</h2>
      <div class="content">
        <img src="../../../../assets/Proximos lanzamientos.jpeg" alt="Imagen próximos títulos" class="circle-image" />
        <p>Títulos más esperados...</p>
      </div>
    </a>
  </div>

  <div class="box">
    <a routerLink="">
      <h2>EVENTOS</h2>
      <div class="content">
        <img src="../../../../assets/Eventos.jpg" alt="Imagen feria de videojuegos" class="circle-image" />
        <p>Próximas ferias, conferencias...</p>
      </div>
    </a>
  </div>

  <div class="box">
    <a routerLink="">
      <h2>TIENDA</h2>
      <div class="content">
        <img src="../../../../assets/Tienda.png" alt="Imagen icono carrito de compra" class="circle-image" />
        <p>Dónde comprar...</p>
      </div>
    </a>
  </div>