.carouselHeader {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.sectionTitle {
    font-size: 36px;
    font-weight: bold;
    color: #ff7f00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin-right: auto;
}

hr {
    height: 1px;
    background-color:#1E385D;
    width: 90%;
    margin-top: -0.5%;
    border: none;
}


.carouselControls {
    display: flex;
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
    cursor: pointer;
    display: contents;
}

.carousel-control-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #1E385D;;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.carousel-control-circle:hover {
    background-color: #1E385D;;
}

.carousel-control-circle:hover .arrow-icon {
    color: #ff7f00;;
}

.carousel-control-prev .arrow-icon,
.carousel-control-next .arrow-icon {
    color: #1E385D;;
    transition: color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divTopGames {
    margin-right: 1%;
}
.gameContainer {
    margin: 2% 2% 2% 0; 
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}
.ratingBox {
    color: #000;
    padding: 5px 10px;
    width: 25%;
}
.goodRating {
    background-color: rgb(0, 206, 122);
}
  
.mediumRating {
    background-color: rgb(255, 189, 63);
}
  
.badRating {
    background-color: #ff6874;
}