<!--NEW RELEASES-->
<div class="carouselHeader">
    <h2 class="sectionTitle">{{ 'THE_LATEST.RELEASES' | i18next }}</h2>
    <div class="carouselControls">
        <div class="carousel-control-circle" (click)="navigateCarousel('newReleases', 'prev')">
            <button class="carousel-control-prev" type="button" data-bs-target="#newReleasesGamesCarousel"
                data-bs-slide="prev">
                <i class="fa-solid fa-arrow-left arrow-icon"></i>
            </button>
        </div>
        <div class="carousel-control-circle" (click)="navigateCarousel('newReleases', 'next')">
            <button class="carousel-control-next" type="button" data-bs-target="#newReleasesGamesCarousel"
                data-bs-slide="next">
                <i class="fa-solid fa-arrow-right arrow-icon"></i>
            </button>
        </div>
    </div>
</div>
<hr>
<div id="newReleasesGamesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="group-container d-flex">
                <div *ngFor="let game of getVisibleGames('newReleases')" class="divTopGames">
                    <div>
                        <img class="gameContainer" [src]="game.img" width="167px" height="250px"
                            [routerLink]="['/game', formatURL(game.title)]">
                        <div class="overlay">
                            {{ game.title | truncateText: 15 }}
                            <p class="ratingBox" [class]="getRatingClass(game.qualification)">
                                {{ game.qualification }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TOP 100-->
<div class="carouselHeader">
    <h2 class="sectionTitle">{{ 'THE_LATEST.TOP100' | i18next }}</h2>
    <div class="carouselControls">
        <div class="carousel-control-circle" (click)="navigateCarousel('top100', 'prev')">
            <button class="carousel-control-prev" type="button" data-bs-target="#top100GamesCarousel"
                data-bs-slide="prev">
                <i class="fa-solid fa-arrow-left arrow-icon"></i>
            </button>
        </div>
        <div class="carousel-control-circle" (click)="navigateCarousel('top100', 'next')">
            <button class="carousel-control-next" type="button" data-bs-target="#top100GamesCarousel"
                data-bs-slide="next">
                <i class="fa-solid fa-arrow-right arrow-icon"></i>
            </button>
        </div>
    </div>
</div>
<hr>
<div id="top100GamesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="group-container d-flex">
                <div *ngFor="let game of getVisibleGames('top100')" class="divTopGames">
                    <div>
                        <img class="gameContainer" [src]="game.img" width="167px" height="250px"
                            [routerLink]="['/game', formatURL(game.title)]">
                        <div class="overlay">
                            {{ game.title | truncateText: 15 }}
                            <p class="ratingBox" [class]="getRatingClass(game.qualification)">
                                {{ game.qualification }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>