<div class="topbar">

    <div class="headerContainer">
        <div class="sidebar col-md-4" (click)="MostrarMenuDesplegable()">
            <i class="fa fa-bars"></i>
        </div>
    
        <h1 class="title col-md-4">GameVerse</h1>
    
        <div class="col-md-4 rightDiv">
            <div class="search-container text-right">
                <span class="search-icon" (click)="toggleSearch()">
                  <i class="fas fa-search"></i>
                </span>
                <input class="search-input" [ngClass]="{'search-input-expanded': searchExpanded}" type="text" placeholder="Buscar...">
            </div>
        
            <div class="login text-right">
                    <span><i class="fa fa-user"></i></span>
            </div>
        </div>
       
    </div>
  
    <div class="buttons-container">
        <div class="buttons">
            <button *ngFor="let link of links" >{{ link }}</button>
        </div>
    </div>
</div>