<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="header.component.scss" rel="stylesheet" />
  </head>
  <body>
    <div class="topbar">
      <div class="logo">Logo</div>
      <div class="botones">
        <button>Inicio</button>
        <button>Juegos</button>
        <button>Noticias</button>
        <button>Videos</button>
      </div>
    </div>
  </body>
</html>
